.ColorSamples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorSample-1 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-2 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-3 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-3 {
  background-color: blue;
}

.colorSample-4 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-5 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-5 {
  background-color: green;
}

.colorSample-6 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-6 {
  background-color: blue;
}

.colorSample-7 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-8 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-9 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-9 {
  background-color: blue;
}

.colorSample-10 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-10 {
  background-color: green;
}

.colorSample-11 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-12 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-12 {
  background-color: blue;
}

.colorSample-13 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-14 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-15 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-15 {
  background-color: red;
}

.colorSample-15 {
  background-color: yellow;
}

.colorSample-16 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-17 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-18 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-18 {
  background-color: blue;
}

.colorSample-19 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-20 {
  background-color: pink;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
}

.colorSample-20 {
  background-color: green;
}

/*# sourceMappingURL=main.css.map */
