
form {
    width: 60%;
    margin: 20% auto;
}
label {
    font-size: 20px;

}

input, select{
    width:50%;
    border: 2px solid black;
    font-size: 24px;
    float: right;
}
label {
    width: 30%;
    float: left;
}
div {
    width: 100%;
    height: 100px;
    outline: dotted;
    background-image: url(img/flower.jpg);
    background-size: 100px;
    background-repeat: repeat;
    
}
h1 {
    font-size: 60px;
    padding-top: 2%;
    text-align: center;
    
}