body {
    background-color: rgb(204, 204, 204);
}


nav {
    background-color: white;
    height:5vw;
}
nav img {
    height: inherit;
    width: 20vw; 
}
.menu {
    display: inline-block;
    float: right;
}


header {
    background-image: url(img/reichstag.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin-bottom: 4rem;
}


h1 {
    width: 70vw;
    margin: 0 auto;
    font-size:2.5rem;
    text-shadow: 1px 1px 1px black;
    color: white;
    padding-top: 50vh;
}

button {
    margin-top: 1rem;
    background-color: rgb(255, 204, 51);
    border-radius: 20px;
    height: 3em;
    width: 15em;
    border: 4px solid rgb(209, 113, 5);

}
a {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(209, 113, 5);
    text-decoration: none;
}

/* .wrap {
    width: 80%;
    margin: 0 auto;
} */
.first, .second, .third, .fourth {
    width: 40%;
    float: left;
    margin: 0 auto 2rem 8rem;
}

div>img {
    float: left;
    height: 10%;
    width: 10%;
    margin: 0 1rem 0 0;
}

p {
    font-size: 1.3em;
    margin: 0;
    display: inline-block;
    width: 85%;
}
@media only screen and (max-width: 1280px){
    .first, .second, .third, .fourth {
        float: none;
        margin: 2rem auto;
    }
}
@media only screen and (max-width: 1111px){
    h1 {
        position: relative;
        font-size: 2rem;
    }
    a {
        font-size: 1rem;
        font-weight: bold;
    }
    button {
        width: 10rem;
        height: 2rem;
    }
    header {
    
    }
}
@media only screen and (max-width: 380px){
    header {
        background-size: 100% 30%;
        
    }
    h1,a {
        font-size: .5rem;
    }
    button {
        
    }
}