// This is where you can import other stylesheets or write your scss code
@import './mixin/reset';
@import './mixin/layout';
@import './maps/fontMap';

ul {
    @include reset-list;
}

.page--center{
    @include center;
}

.column {
    @include center (column)
}

.hidden {
    @include hide;
}

.triangle-example {
    &::before,
    &::after {
        display: block;
        content: '';
        margin: 3rem;
    }
    &::before {
        @include triangle;
    }
    &::after {
        @include triangle(down,red)
    }
}

.reveal-animation-example {
    margin: 5rem ;
    height: 1rem;
    width: 1rem;
    background-color: turquoise;
    @include fade-in (2s);
}

.text-xs {
    @include font-size(xs);
}

.text-sm {
    @include font-size(sm);
}

.text-m {
    @include font-size(m);
}

.text-l {
    @include font-size(l);
}

.text-xl {
    @include font-size(xl);
}

.text-xxl {
    @include font-size(xxl);
}

