.esports-info {
  
  margin:0 auto 20px auto;
  display: inline-block;
  height: 50vh;
  width:33%;
  border: 1px solid black;
  overflow: scroll;
  
}
.esports-info-img {
  width: 100%;
  height: 40vh;
}
.esports-tournaments {
  display: inline-block;
  height: 30%;
  width:100%;
}
.dota-tournament-img {
  height: 300px;
  float: left;
}
article p {
    margin-top: 30px;
}
