@mixin card-border {
    border-left: 1px solid rgb(204, 197, 197);
    border-bottom:1px solid rgb(204, 197, 197);
    border-right: 1px solid rgb(204, 197, 197);
    border-radius: 0 0 1rem 1rem;
}

@mixin pallet ($background){
    flex-grow: 1;
    background-color: $background;
}

@mixin dark ($background){
    flex-grow: 1;  
    background-color: darken($background,15%);
}

@mixin light ($background){
    flex-grow: 1;
    background-color: lighten($background,15%);
}