* {
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    
}
.info-1, .info-2, .info-3 {
    /* margin-left: 4px; */
    /* float: left; */
    /* display: inline-block; */
    padding: 20px;
    /* ↓↓↓↓↓↓↓↓↓↓↓↓↓flex-basis: 30%; ↓↓↓↓↓↓ use this instead of width in flexbox*/
    width: 30%;
    border-radius: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.info-1 {
    background-image: url(../task-2/assets/task2-bg.jpeg);
}

.info-2 {
    background-image: url(../task-2/assets/task2-bg1.jpeg);
}
.info-3 {
    background-image: url(../task-2/assets/task2-bg2.jpg);
}
