* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  border: 2px solid hotpink;
  height: 100vh;
}

div {
  border: 2px dotted chartreuse;
  width: 20%;
}

div:nth-child(odd) {
  /* background-color: yellow; */
}

div:hover:nth-child(odd) {
  animation: first 5s infinite;
} 


@keyframes first {
  from,to {
    background-color: yellow;}

  50% {
    background-color: teal;
  }
}

div:hover:nth-child(2n) {
  animation: second 2s infinite;
}

@keyframes second {
  from,to {
    background-color: hotpink;
  }
  50% {
    background-color: lightskyblue;
  }
}

