* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: stretch;
  border: 2px solid hotpink;
  height: 100vh;
}

div {
  border: 2px dotted chartreuse;
  width: 20%;
}

.strobe_1 {
  background-color: yellow;
  
}
.strobe_1:hover {
  
  animation: first 2s infinite alternate-reverse;
} 
.strobe_1:active {
  animation-play-state: running;
}

@keyframes first {

  from,to {
    background-color: yellow;}

  50% {
    background-color: teal;
  }

}


