/* css reset */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Roboto&display=swap');

/* font-family: 'Fondamento', cursive;
font-family: 'Roboto', sans-serif; */
 /* * {   margin: 0;
    padding: 0;
} */

body {
    color: lawngreen;
    font-size: 62.5%;
    font-family: 'Fondamento', cursive;
}

h1 , h3 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}
h3 {
    letter-spacing: 3px;
    padding: 7px;
    word-spacing: 10px;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
}
blockquote {
    line-height: 30px;
    margin: 0 0 0 30px;
    font-style: italic;
}
span {
    text-decoration: line-through;
}
em {
    text-transform: capitalize;
}
strong {
    text-transform: uppercase;
    font-weight: bold;
}
a {
    color: pink;
    text-decoration: none;
}
